/** reset code */

*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    list-style-type: none;

}

.container{
    width: 100%;
    height: 100vh;
    background-color:azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width:40rem;
    height: 50rem;
    background-color: rgb(87, 79, 79);
    border-radius: 1rem;
    overflow: hidden;
    
    overflow:scroll;
    scroll-behavior: smooth;
    
    
}



.card-title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: aliceblue;
    
}

input{
    width: 70%;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 20px;
    
}

.formfield{
    padding: 20px;
}


.btn{
    width:15%;
    padding: 1rem;
    
    border-radius: 1rem;
    font-size: 20px;
    margin-left: 20px;
  cursor: pointer;
  transition: all 0.3s;
  
   
}

.btn:hover{
    background-color: orange;
}
.dbtn{
    
    background-color: orange;
    padding: 0.6rem;
    font-size: 30px;
    border-radius: 1rem;
    transition: all 0.3s;


}

.dbtn:hover{
    background-color: rgb(255, 0, 34);
}

.li-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 0.6rem;
    margin: 1rem 0;
    transition: all 0.3s;
  }
  
  .li-style:hover {
    background-color: #111;
  }

  .lists{
    padding: 1rem;
    
  }

  .bg-success {
    margin: 0.5rem 0;
    padding: .5rem;
    color: black;
    background-color: #ddffdd;
    border-left: 6px solid #04aa6d;
    font-size: 30px;
  }
  .bg-danger {
    margin: 0.5rem 0;
    padding: 0.5rem;
    color: black;
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    font-size: 30px;
  }

